.placesList {
  width: 40%;
  padding-bottom: 1rem;
  max-height: calc(100vh - 100px); /* 100px=nav height */
  overflowx: scroll;
  background-color:var(--light-grey);
}

.mapContainer {
  width: 60%;
  height: calc(100vh - 100px); /* 100px=nav height */
  border: 1px solid var(--grey);
  background-color:var(--light-grey);
}
