@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #F5F5F5;
  --grey: rgba(16, 16, 16, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
}

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */